#header
{
  float:left;
  background-color:grey;
width:600px;
height:50px;
}
#logo
{
  float:left;
  background-color:grey;
 width:50px;
 height:50px;
 }
#left
{
 float:left;
 background-color:white;
  width: 100px;
  height:800px; 
}
#body
{
 float:left;
 background-color:rgb(255, 255, 255);
 width:400px;
 height:300px;
}
p 
{
  font-family: "Times New Roman", Times, serif;
}
#right
{
 float:right;
 background-color:grey;
 height:300px;
 width:100px;
 }
#footer
{
  background-color:grey;
  float: left;
  height:50px;
  width:25%;
   }
#container
{
  height:800px;
  width:600px;
}